.black {
  background-color: black;
  color: rgb(253, 236, 214);
}
.nav-link {
  color: rgb(253, 236, 214, 0.7);
}
.git {
  color: rgb(253, 236, 214, 0.7);
}
.pic img {
  height: 100%;
}
.resume {
  color: rgb(253, 236, 214);
}
